body{
    background-color: #FFD954;
}

.data_error{
    display: none;
}
.number_error{
    display:none;
}

.data_error.display{
    display:block;
}

.number_error.display{
    display:block;
}

#grid-container{
    display: grid;
}

.grid-slot {
    border: 1px solid black;
    aspect-ratio: 1;
}